<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>vue.js</title>
	</head>
	<body>
		<div id="app">
			<form>
				<label for="dog">いぬ</label>
				<input type="radio" id="dog" value="いぬ" v-model='pet' />
				<label for="cat">ねこ</label>
				<input type="radio" id="cat" value="ねこ" v-model='pet' />
				<label for="other">その他</label>
				<input type="radio" id="other" value="その他" v-model='pet' />	
			</form>
			<p>{{ pet }}</p>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/model_radio.js"></script>
	</body>
</html>
